@using PhimmoiClone.Data
@using Microsoft.EntityFrameworkCore
@model MyDbContext
@{
    var canConnect = await Model.Database.CanConnectAsync();
}

<partial name="_StatusMessage"/>

@if (canConnect)
{
    await Model.Database.OpenConnectionAsync();
    var table = Model.Database.GetDbConnection().GetSchema("Tables");
    <h1>Danh sách table</h1>
    <ul>
        
        @foreach (System.Data.DataRow row in table.Rows)
        {
            <li>
                @row["TABLE_NAME"]
            </li>
        }
    </ul>
    
    var migrations = Model.Database.GetAppliedMigrations();
    var pendingMigrations = await Model.Database.GetPendingMigrationsAsync();
    <h1>Danh sách migrations</h1>
    <ul>
        @foreach (var migration in migrations)
        {
            <li>
                @migration
            </li>
        }
        @foreach (var migration in pendingMigrations)
        {
            <li>
                @migration (pending)
            </li>
        }
    </ul>
    
    <a class="btn btn-danger" asp-action="DeleteDatabase">Xóa database</a>
    <a class="btn btn-success" asp-action="SeedAdminUserAndAdminRole">Seed user và role admin</a>
}
else
{
    <h1>Chưa có database!!!</h1>
    <a class="btn btn-danger" asp-action="CreateDatabase">Tạo database</a>
    
}