@model System.Collections.Generic.List<Microsoft.AspNetCore.Identity.IdentityUser>

@{
    ViewBag.Title = "Tất cả user";
    
}

<h2>Tất cả user</h2>
<ul>
    
    @foreach (var user in Model)
    {
        <li><a asp-action="UserDetail" asp-route-userId="@user.Id">@user.UserName</a>
            -  <a 
                   asp-controller="Role" 
                   asp-action="AssignUserRoles" 
                   asp-route-userId="@user.Id"
                   class="btn btn-success">Chỉnh role</a>
        </li>
    }
</ul>