@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@model Microsoft.AspNetCore.Identity.IdentityUser?

@{
    ViewBag.Title = "Thông tin user";
    var userRoles = ViewData["UserRoles"] as List<string>;
    var userClaims = ViewData["UserClaims"] as List<Claim>;
}

<h1>Thông tin user: @Model?.UserName</h1>

<h3>Tất cả roles:</h3>

@if (userRoles is {Count: > 0 })
{   <ul>
        @foreach (var role in userRoles)
        {
            <li>
                @role
            </li>
        }
    </ul>
}
else
{
    <p class="text-danger">Chưa có role nào</p>
}

<h3>User claims: </h3>

@if (userClaims is {Count: > 0 })
{   <ul>
        @foreach (var claim in userClaims)
        {
            <li>
                @claim
            </li>
        }
    </ul>
}
else
{
    <p class="text-danger">Chưa có claims nào</p>
}

<a asp-controller="Claim" asp-action="AddUserClaim" asp-route-userId="@Model?.Id" class="btn btn-success">Thêm claim</a>