@model System.Collections.Generic.List<Microsoft.AspNetCore.Identity.IdentityUser>

@{
    ViewBag.Title = "All user";
}

<h1>Tất cả user</h1>
<ul>
    @foreach (var user in Model)
    {
        <li>
            @user.UserName
        </li>
    }
</ul>
