@model System.Collections.Generic.List<Microsoft.AspNetCore.Identity.IdentityRole>

@{
    ViewData["Title"] = "Tất cả roles";
}

<h1>Tất cả các roles:</h1>

@if (Model is {Count: > 0})
{
    <ul>
        @foreach (var role in Model)
        {
            <li>
                @role.Name
            </li>
        }
    </ul>
}