body {
  background-color: #333;
  color: white;
}

footer {
  color: white;
}

.episodes {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 40px 0;
}

.episode {
  background-color: grey;
  color: white;
  text-decoration-line: none;
  padding: 4px 16px;
}

.ep-active {
  background-color: #0a58ca;
  color: white;
}