@model PhimmoiClone.Areas.Identity.Models.AddClaimViewModel

@{
    ViewBag.Title = "Create Claim";
    var options = ViewData["Options"] as List<SelectListItem>;
}

<h2>Create a claim</h2>
<form action="">
    <select asp-for="RoleName" class="form-select" name="roleName" asp-items="options"></select>
    
    <div class="form-outline mb-4">
        <input asp-for="Type" id="email" class="form-control" />
        <label class="form-label" for="email">Email</label>
    </div>
    
    <div class="form-outline mb-4">
        <input asp-for="Value" id="email" class="form-control" />
        <label class="form-label" for="email">Email</label>
    </div>
    <button type="submit" class="btn btn-primary btn-block mb-4">Tạo Claim</button>
</form>

