@using Microsoft.AspNetCore.Identity
@model PhimmoiClone.Areas.Identity.ViewModels.AddClaimUserViewModel

@{
    ViewBag.Title = "Add Claim";
    var user = ViewData["User"] as IdentityUser;
}
<partial name="_StatusMessage"/>

<h2>Thêm claim cho user: @user?.UserName</h2>

<form asp-action="AddUserClaim" method="POST">
    <div class="form-outline mb-4">
        <input asp-for="Type" id="email" class="form-control" />
        <label class="form-label" for="email">Claim Type</label>
    </div>
    
    
    <div class="form-outline mb-4">
        <input asp-for="Value" id="username" class="form-control" />
        <label class="form-label" for="username">Claim Value</label>
    </div>
    <input type="hidden" asp-for="UserId" value="@user?.Id">
    <button type="submit" class="btn btn-primary btn-block mb-4">Tạo Claim</button>
    
    
</form>