<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Manage
    </button>
    <ul class="dropdown-menu dropdown-menu-dark">
        <li><a class="dropdown-item" asp-area="Database" asp-controller="Database" asp-action="Index">Database</a></li>
        <li><a class="dropdown-item" asp-area="Identity" asp-controller="Role" asp-action="Index">Cài đặt role</a></li>
        <li><a class="dropdown-item" asp-area="Identity" asp-controller="User" asp-action="Index">Cài đặt user</a></li>
        
        <li><a class="dropdown-item" asp-area="Cinema" asp-controller="Movie" asp-action="Index">Cài đặt Movie</a></li>
        <li><a class="dropdown-item" asp-area="Cinema" asp-controller="Actor" asp-action="Index">Cài đặt Actor</a></li>

    </ul>
</div>