@model PhimmoiClone.Areas.Cinema.Models.Movie

@{
    ViewBag.Title = "Xóa phim";
    Layout = "_Layout";
}

<h2>Bạn có chắc chắn muốn xóa phim: @Model.Name</h2>

<form asp-action="Delete" asp-route-id="@Model.Id" method="POST">
    <button class="btn btn-danger" type="submit">Xóa</button>
</form>

