@using PhimmoiClone.Areas.Cinema.Models
@model Movie

@{
    ViewBag.Title = $"thông tin phim {Model?.Name}";
    var actors = ViewData["Actors"] as List<Actor>;
    var genres = ViewData["Genres"] as List<Genre>;
}

<partial name="_StatusMessage" />

<h1>thông tin phim: @Model?.Name</h1>

<a asp-action="AddActorsToMovie" asp-route-id="@Model?.Id" class="btn btn-success">
    Gán diễn viên
</a>
<h2>Tất cả diễn viên: </h2>
@if (actors is {Count: > 0 })
{
    <ul>
        @foreach (var actor in actors)
        {
            <li>
                <a asp-controller="Actor"
                   asp-action="Detail"
                   asp-route-id="@actor.Id">
                    @actor.Name
                </a>
            </li>
        }
    </ul>
}
else
{
    <p class="text-danger">Hiện chưa có diễn viên</p>
}

<a asp-action="AddGenresToMovie" asp-route-id="@Model?.Id" class="btn btn-success">
    Gán thể loại
</a>
<h2>Tất cả thể loại: </h2>
@if (genres is { Count: > 0 })
{
    <ul>
        @foreach (var genre in genres)
        {
            <li>
                <a asp-controller="Genre"
                   asp-action="Detail"
                   asp-route-id="@genre.Id">
                    @genre.Title
                </a>
            </li>
        }
    </ul>
}
else
{
    <p class="text-danger">Hiện chưa có thể loại</p>
}

<a asp-action="DeleteConfirm" asp-route-id="@Model?.Id" class="btn btn-danger">Xóa phim</a>
<a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-success">Sửa thông tin phim</a>