@model PhimmoiClone.Areas.Cinema.Models.Movie

@{
    ViewBag.Title = "sửa phim";
   
}

<h2>Chỉnh sửa phim: @Model?.Name</h2>

<form asp-action="Edit" method="POST">
    <input type="hidden" name="id" value="@Model?.Id">


    <div class="mb-3">
        <label for="Name" class="form-label">Tên</label>
        <input class="form-control" id="Name" asp-for="Name">
    </div>

    <div class="mb-3">
        <label for="Description" class="form-label">Mô tả</label>
        <input class="form-control" id="Description" asp-for="Description">
    </div>

    <div class="mb-3">
        <label for="publish" class="form-label">Ngày ra mắt</label>
        <input class="form-control" id="publish" asp-for="Publish">
    </div>


    <button type="submit" class="btn btn-primary">Sửa</button>
</form>