@model PhimmoiClone.Areas.Cinema.Models.Actor

@{
    ViewBag.Title = "Xóa diễn viên";
    Layout = "_Layout";
}

<h2>Bạn có chắc chắn muốn xóa diễn viên: @Model.Name</h2>

<form asp-action="Delete" asp-route-id="@Model.Id" method="POST">
    <button class="btn btn-danger" type="submit">Xóa</button>
</form>
 
 