@model PhimmoiClone.Areas.Cinema.Models.Actor

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Chỉnh sửa diễn viên: @Model?.Name</h2>

<form asp-action="Edit" method="POST">
    <input type="hidden" name="id" value="@Model?.Id">
    

    <div class="mb-3">
        <label for="Name" class="form-label">Tên</label>
        <input class="form-control" id="Name" asp-for="Name">
    </div>

    <div class="mb-3">
        <label for="Description" class="form-label">Mô tả</label>
        <input class="form-control" id="Description" asp-for="Description">
    </div>

    <div class="mb-3">
        <label for="DoB" class="form-label">Ngày sinh</label>
        <input class="form-control" id="DoB" asp-for="DoB">
    </div>
    
    <div class="mb-3">
        <label for="image" class="form-label">Hình ảnh</label>
        <input class="form-control" id="image" asp-for="Image">
    </div>
    
    <button type="submit" class="btn btn-primary">Sửa</button>
</form>