@model List<PhimmoiClone.Areas.Cinema.Models.Actor>

@{
    ViewBag.Title = "Tất cả diễn viên";
    
}

<partial name="_StatusMessage"/>

<a asp-action="CreateActor" class="btn btn-success">Thêm diễn viên</a>
<h2>Danh sách diễn viên</h2>

@if (Model is {Count: > 0})
{
    <ul>
        @foreach (var actor in Model)
        {
            <a asp-action="ActorDetail" asp-route-id="@actor.Id" style="text-decoration-line: none">
                <div class="card" style="width: 18rem;">
                
                    <img src="" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">
                            
                            @actor.Name
                        </h5>   
                    </div>
                </div>
            </a>
            
        }
    </ul>
}
else 
{
    <h2 class="">Hiện chưa có diễn viên nào</h2>
}
